button{
  border-radius: 10%;
  height: 40px;
}

.container{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
background-image: url("./assets/forest.jpg");
background-position: center;
background-size: cover;
padding: 18px;
}

.heroSelect{
  margin-bottom: 20px;
}

.animate {
  background-image: url("./assets/anime.png");
  height: 46px;
  width: 32px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.buttonsBlock{
display: flex;
justify-content: space-between;
align-items: center;
}